.headerElems {
    float: right;
    display: block;
    margin-top: -28px;
    position: relative;
}

.panel.infolist .form-group {
    border-bottom: 1px dashed #e2e4e8;
    padding-bottom: 9px;
    min-height: 35px;
    display: block;
    height: auto;
    overflow-y: auto;
}
.panel.infolist .form-group .fvalue {
    padding: 0px 10px 5px 10px;
}
.panel.infolist .form-group:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.panel.infolist .form-group:first-child {
    margin-top: 10px;
}